<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(#{lbl.customers})" />
<body>
    <nav th:replace="fragments/menu :: menu(${title})" />
    <div class="container">
        <table class="article-table table table-striped" th:if="${customers.size() > 0}">
            <thead>
                <th th:text="#{lbl.number}">ID</th>
                <th th:text="#{lbl.name}">Name</th>
                <th th:text="#{lbl.photo}">Customer Photo</th>
                <th th:text="#{lbl.articles}">Articles</th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
                <tr th:each="row, rowStat :${customers}">
                    <td th:text="${rowStat.index + 1}"></td>
                    <td th:text="${row.name}"></td>
                    <td>
                        <img th:if="${row.pictureUrl != null}" width="30px"
                             style="border: 1px solid black"
                             th:src="${'/uploads/' + row.pictureUrl}"/>
                    </td>
                    <td style="border: 1px solid gray" th:if="${row.articles.size() > 0}">
                        <table th:if="${row.articles.size() > 0}"
                               th:replace="fragments/customerArticles :: customerArticles(${row.articles})" ></table>
                    </td>
                    <td th:if="${row.articles.size() == 0}">
                        No Articles
                    </td>
                    <td>
                        <a th:href="@{'/customers/edit/' + ${row.id}}">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{'/customers/delete/' + ${row.id}}">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <p th:if="${customers.size() == 0}">No Customer Available</p>
    </div>
    <div th:replace="fragments/foot :: foot" />
</body>
</html>