<nav xmlns:th="http://www.thymeleaf.org" th:fragment="menu(title)" class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="https://www.playstation.com/en-gb/games/chimparty-ps4/" class="navbar-brand-a">
                <img src="/img/logo.jpg" width="40px">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li th:class="${title == 'customers'} ? 'active'">
                    <a th:text="#{lbl.customers}" href="/customers"></a>
                </li>
                <li th:class="${title == 'articles'} ? 'active'">
                    <a th:text="#{lbl.articles}" href="/articles"></a>
                </li>
                <li th:class="${title == 'createCustomer'} ? 'active'">
                    <a th:text="#{lbl.addCustomer}" href="/customers/create"></a>
                </li>
                <li th:class="${title == 'createArticle'} ? 'active'">
                    <a th:text="#{lbl.addArticle}" href="/articles/create"></a>
                </li>
                <li th:class="${title == 'editArticle' || title == 'editCustomer'} ? 'active'">
                    <a th:text="#{lbl.editing}"></a>
                </li>
            </ul>
            <form class="language-form navbar-form navbar-right">
                <div class="form-group language-selector">
                    <label for="locales" class="menu-label" th:text="#{lbl.language}">Language
                    </label>
                    <select id="locales" class="form-control">
                        <option value="en_US" th:selected="${#request.getParameter('lang') == 'en_US'}">EN</option>
                        <option value="bg_BG"
                                th:selected="${#request.getParameter('lang') == 'bg_BG'}">BG</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</nav>