<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(${lbl.addArticle})" />
<body>
    <nav th:replace="fragments/menu :: menu(${title})" />
    <div class="container">
        <table class="article-table table table-striped">
            <thead>
                <th th:text="#{lbl.number}">Number</th>
                <th th:text="#{lbl.title}">Title</th>
                <th th:text="#{lbl.content}">Content</th>
                <th th:text="#{lbl.created}">Created</th>
                <th th:text="#{lbl.modified}">Modified</th>
                <th th:text="#{lbl.picture}">Picture</th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
                <tr th:each="row, rowStat :${articles}">
                    <td th:text="${rowStat.index + 1}"></td>
                    <td th:text="${row.title}"></td>
                    <td th:text="${row.content}"></td>
                    <td th:text="${row.created}"></td>
                    <td th:text="${row.modified}"></td>
                    <td>
                        <img th:if="${row.pictureUrl != null}" width="30px"
                             style="border: 1px solid black"
                             th:src="${'/uploads/' + row.pictureUrl}"/>
                    </td>
                    <td>
                        <a th:href="@{'/articles/edit/' + ${row.id}}">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{'/articles/delete/' + ${row.id}}">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/foot :: foot" />
</body>
</html>